<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxkhQmF85YBWKQQM9XaucM07xoSMUF2yI</string>
	<key>GCM_SENDER_ID</key>
	<string>7117492319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginui</string>
	<key>PROJECT_ID</key>
	<string>quit-smoking-app-bfb60</string>
	<key>STORAGE_BUCKET</key>
	<string>quit-smoking-app-bfb60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7117492319:ios:38279e76f6e3c79791cbea</string>
	<key>DATABASE_URL</key>
	<string>https://quit-smoking-app-bfb60-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>